.drag {
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 16px;

  .drag__dropzone {
    display: inline-block;
    margin-right: 16px;
    .drag__item {
      width: 200px;
      height: 200px;
      border: 1px solid;
    }
    .drag__item-dragging {
      background-color: black;
      opacity: 0.3;
    }
  }
  .drag__dropzone-dragover {
    background-color: red;
    opacity: 0.3;
  }
}
